/* 
    #############################################
    #   Simple Pop Up Window v1.00              #
    #       By Mark Foyster                     #
    #############################################

    For usage instructions, please refer to README.md

    
	LICENSE:

	This file is part of Component Library 1.

	Component Library 1. is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

	Component Library 1. is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

	You should have received a copy of the GNU General Public License along with Component Library 1.. If not, see <https://www.gnu.org/licenses/>.




Set up your preferred colours, sizes etc using the custom properties below  

*/
:root{
    /* COLOURS */
    --popUpBackgroundColour: whitesmoke; 
    --popUpBoxShadowColour: rgb(141, 139, 139); /* Best to set this a darker tone of the background colour */
    --popUpTitleColour:red;
    --popUpBorderColour: mediumblue;
    
    /* SIZES */
    --popUpSize: 90%; /*This is the size of the entire popup relative to screen*/
    --popUpTitleFontSize: 2rem;
}

@keyframes popUpFadeIn 
{
    from { 
        visibility: hidden;
        opacity: 0;
    }
    to { 
        visibility: visible;
        opacity: 1;
    }
}

@keyframes popUpFadeOut 
{
    from { 
        visibility: visible;
        opacity: 1;
    }
    to { 
        visibility: hidden;
        opacity: 0;
    }
}

#closeBtn{
    position:absolute;
	right: 10px;
	top: 10px;
    /* padding: 1vw;*/
	z-index: 4; 
}

.popUp{
	position: fixed;
	width: var(--popUpSize);
	height: var(--popUpSize);
	left: calc( (100% - var(--popUpSize))/2);
	top: calc( (100% - var(--popUpSize))/2);
	background-color: var(--popUpBackgroundColour);
	border-radius: 25px;
	border: 3px solid var(--popUpBorderColour);
	padding: 5px;
    box-shadow: 7px 7px 3px 3px var(--popUpBoxShadowColour); 
	z-index: 3;
    overflow: hidden;
}
.popUpFadeIn{
    animation: popUpFadeIn 0.5s ease-in-out;
    visibility: visible;
}

.popUpFadeOut{
    animation: popUpFadeOut 0.5s ease-in-out;
    visibility: hidden;
}

.popUpTitle{
    color: var(--popUpTitleColour);
    text-align: center;
    font-size: var(--popUpTitleFontSize);
}


.popUpTitleContainer {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: var(--popUpSize);
   text-align: center;
}

.popUpBody{
    display: inline-block;
	position: relative;
	top: 50px; /*calc(var(--popUpTitleFontSize) + 10px); */
	height: calc(100% - 60px) ;
	width: 100%;
}

.stopScrolling{
	overflow: hidden;
}



